# Latest version of pytest doesn't work on xenial with Python 3.5.2
# Selected these versions by trial and error, in case some other packages will get incompatible upgrates here is the list of versions that seem to work:
# > Successfully installed attrs-21.2.0 importlib-metadata-2.1.2 iniconfig-1.1.1 packaging-21.3 pathlib2-2.3.6 pluggy-0.13.1 py-1.11.0 pyparsing-3.0.6 pytest-6.1.2 six-1.16.0 toml-0.10.2 zipp-3.6.0

pytest < 6.2.0
importlib-metadata < 3.0.0
pytest-lazy-fixture